.jumbotron-font {
  fon-family: 'Montserrat', sans-serif;
}

.index-body {
    padding-top: 1rem;
}

.page-body {
    padding-top: 5rem;
}

.description {
    height: 5em;
}

.primary-theme {
    background-color: #f7f7f7;
    color: black;
    /* border: 1px solid #90a583; */
}

.secondary-theme {
    background-color: #82b3ae;
    border: 1px solid #90a583;
}

.footer-background {
    background-color: #eeeeee;
}

ul {
    list-style-type: none;
}

.caregiver-card, .review-card {
    margin-bottom: 1em;
}

.reviews {
    margin-top: 1em;
}

/* .form-container {
    border: 1px solid #dddddd;
    padding: 1em;
    margin-bottom: 1em;
} */

.navbar-button {
    border: 1px solid #ebebbc;
    color: #ebebbc;
}

.form-row-margin {
    margin-bottom: 1em;
}

.details {
    padding: 1em;
    border: 1px solid #dddddd;
}

.details-border-top {
    padding-top: 1em;
    border-top: 1px solid #dddddd;
}

.details-border-right {
    border-right: 1px solid #dddddd;
}

.app-border {
    1px solid #dddddd;
}

.my-jumbotron-top {
  padding-top: 30px;
}

p {
  font-size: 5rem;
}

.text-decoration-none {
  text-docoration: none;
}
