* {
  box-sizing: border-box;
  border: 1px solid silver;
}

body {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  margin: 0;
  font-family: arial; sans-serif;
}

#main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#main > .side-nav {
  flex: 0 0 20vw;
  order: -1;
}

.side-nav-item {
    padding: 1.5em 0;
    font-size: 10px;
    color: #599334;
}

#story-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer > a {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.top-nav:hover {
    color: #599334;
    background: lightgray;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    color: white;
}



.story {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    justify-content: flex-start;
    height: 200px;
    /* border-bottom: 1px solid silver; */
    /* border-width: 10%; */
}

.headline {
    width: 75%;
}
.picture {
    width: 25%;
}

.summary, .link {
    width: 100%;
}
.side-nav-item:hover {
    color: white;
    background: lightgray;
    cursor: pointer;
}

header {
    display: flex;
    vertical-align: middle;
}

header, footer {
  background: #599334;
  height: auto;
  text-decoration: none;
  color: white;
}

.side-nav {
    border-right: 1px solid silver;
}

footer:  {
    font-size: 10px;
}
header, footer, .story, .side-nav {
  padding: 1em;
}

.top-nav {
    padding: 5px;
}
#header-left {
    padding: 5px;
    font-size: 15px;
    color: white;
    margin: 1px;
    width: 70%;
}

#header-right {
    padding: 5px;
    font-size: 10px;
    color: white;
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
