* {
    box-sizing: border-box;
    /* border: 1px solid silver; */
}

*:focus {
    outline: none;
}


/* Body defined as a flexbox with arial as the common font family */

body {
    background: white;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    margin: 0;
    font-family: arial; sans-serif;
}

/* Header components */

header {
    display: flex;
    padding: .5em;
}

#header-title {
    padding: 5px;
    /* font-size: 15px; */
    color: white;
    margin: 1px;
    width: 70%;
}


#header-menu {
    padding: 5px;
    font-size: 8px;
    color: white;
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header-menu-item {
    padding: 5px;
}

.header-menu-item:hover {
    color: #636363;
    background: white;
    cursor: pointer;
}

/* The main part of the display holds the container for individual stories and the side menu bar */

/* #main {
    display: flex;
    flex-direction: row;
    flex: 1;
} */

#sub-menu-item-container {
    padding: 5px;
    font-size: 10px;
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

header, footer {
    background: #636363;
    height: auto;
    text-decoration: none;
    color: white;
}

/* Side menu controls */

.sub-menu {
    flex: 0 0 25vw;
    order: -1;
    border-bottom: 1px solid #636363;
    color: #636363;
    padding-top: 1rem;
}

.sub-menu-item {
    padding: .75em .75em;
    font-size: 8px;
    color: #636363;
}

.sub-menu-item:hover {
    color: white;
    background: #636363;
    cursor: pointer;
}

/* Form controls */

#keywword-search-head {
    margin-top: 50px;
}

form {
    /* margin-top: 40px; */
    padding: 1em 1em;
    font-size: 8px;
    color: #636363;
}



#keyword-box {
    width: 100%;
    height: 20px;
}

.submit-button {
    margin-top: 5px;
    display: inline-block;
    padding: .75em 2em;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    color: white;
    background: #636363;
    border-radius: 3px;
    transition: .4s;
    font-size: 8px;
}

.submit-button:hover {
    background: lightgray;
    color: #636363;
}

#welcome-keyword-box {
    width: 60%;
    height: 2.7em;
}

#welcome-container {
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 25px 50px;
}

#welcome-container > p {
    font-size: 10px;
}

h1 {
    font-size: 20px;
}


/* One flexbox container to hold all stories */

#story-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 96%;
    margin-left: 25px;
    margin-right: 25px;
}

/* A single flexbox for each story */

.story {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 12.5px;
    width: 95%;
    min-height: 200px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
}

.story:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.headline {
    width: 70%;
    margin-left: 10px;
}

.picture {
    width: 25%;
}

.summary, .source {
    width: 100%;
}

.summary, .picture, .source {
    margin: 5px;
}

/* Miscellaneous stuff */

footer:  {
    font-size: 8px;
}

 footer, .story, .sub-menu {
  padding: 1em;
}

footer > a {
    font-size: 8px;
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 12px;
}


@media (min-width: 600px) {
    * {
        box-sizing: border-box;
        /* border: 1px solid silver; */
    }

    *:focus {
        outline: none;
    }

    /* Body defined as a flexbox with arial as the common font family */

    body {
        background: white;
        display: flex;
        min-height: 80vh;
        flex-direction: column;
        margin: 0;
        font-family: arial; sans-serif;
    }

    /* Header components */

    header {
        display: flex;
        padding: .5em;
        background: #636363;
        height: 3rem;
        text-decoration: none;
        color: white;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100vw;
    }

    #header-title {
        padding: 5px;
        /* font-size: 15px; */
        color: white;
        margin: 1px;
        width: 60%;
    }

    #header-menu {
        padding: 5px;
        font-size: 10px;
        color: white;
        width: 35%;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }

    .header-menu-item {
        padding: 5px;
    }

    .header-menu-item:hover {
        color: #636363;
        background: white;
        cursor: pointer;
    }

    /* The main part of the display holds the container for individual stories and the side menu bar */

    #main {
        display: flex;
        flex-direction: row;
        flex: 1;
        position: relative;
        min-height: 115vh;
    }

    footer {
        background: #636363;
        height: auto;
        text-decoration: none;
        color: white;
    }

    /* Side menu controls */

    .sub-menu {
        top: 3rem;
        flex: 0 0 25vw;
        order: -1;
        border-right: 1px solid #636363;
        border-bottom: none;
        color: #636363;
        padding-top: 1.25rem;
        position: sticky;
        max-height: 100vh;
    }

    .sub-menu-item {
        padding: 1em .5em;
        font-size: 10px;
        color: #636363;
    }

    .keyword-form {
        font-size: 10px;
        padding-left: 0px;
        color: #636363;
    }

    .sub-menu-item:hover {
        color: white;
        background: #636363;
        cursor: pointer;
    }

    /* Form controls */

    #keyword-search-head {
        margin-top: 40px;
    }

    form {
        /* margin-top: 40px; */
        padding: 1em 1em;
        font-size: 10px;
        color: #636363;
    }

    #submenu-keyword-box {
        width: 100%;
        height: 2.7em;
    }


    .submit-button {
        margin-top: 5px;
        /* display: inline-block; */
        padding: 1em 3em;
        text-decoration: none;
        border: none;
        outline: none;
        cursor: pointer;
        margin-top: 5px;
        color: white;
        background: #636363;
        border-radius: 3px;
        font-size: 10px;
    }

    .submit-button:hover {
        background: lightgray;
        color: #636363;
    }

    /* One flexbox container to hold all stories */

    #story-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;
        width: 100%;
        margin-left: 25px;
    }

    #welcome-keyword-box {
        width: 60%;
        height: 2.7em;
    }

    #welcome-container {
        width: 80%;
        height: 25%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 3px;
        margin-top: 50px;
        margin-left: 15px;
        padding: 25px 50px;
    }

    #welcome-container > p {
        font-size: 15px;
    }
    /* A single flexbox for each story */

    .story {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 12.5px;
        width: 95%;
        min-height: 200px;
        margin-top: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 3px;
    }

    .story:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .headline {
        width: 70%;
        margin-left: 10px;
    }

    .picture {
        width: 25%;
    }

    .summary, .source {
        width: 100%;
    }

    .summary, .picture, .source {
        margin: 5px;
    }

    /* Miscellaneous stuff */

    footer:  {
        font-size: 10px;
    }

     footer, .story {
      padding: 1em;
    }

    footer > a {
        font-size: 10px;
        color: white;
        text-decoration: none;
    }

    h2 {
        font-size: 15px;
    }

    #sub-menu-item-container {
        display: block;
        text-align: left;
    }
}
